*{
  margin-left: 5px;
}

body {
  background: #FFEEAD;
}

.instruction {
  font-size: 20px;
}
.highlight {
    background-color: yellow;
  }
  
  .error {
    background-color: lightcoral;
    border: red;
  }

  #quote {
    width: 60%;
    display: none;
    box-sizing: border-box;
    border: 1px solid black;
    padding-left: 6px;
    padding-top: 0.5rem;
  }

  #score {
    font-size: 20px;
    color: #655D8A;
  }
